.faq {
  margin-top: 1.5rem;
  display: flex;
  align-items: flex-end;
  overflow: hidden;
  position: relative;
  height: 100rem;
}
.faq__container {
  width: 40rem;
  margin-left: 15%;
  z-index: 1;
}
.faq__headline {
  margin-bottom: 4.5rem;
}
.faq__headline-gradient {
  background: linear-gradient(89deg, #37f3e1 -40.27%, #a109ff 101.93%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.faq__image {
  transform: rotate(358deg);
  position: absolute;
  right: -1.5rem;
  z-index: 0;
}
.faq__question {
  margin-bottom: 4rem;
}
