.footer {
  margin: 16rem auto 3rem;
  display: flex;
  width: 75%;
  justify-content: space-between;
  align-items: flex-end;
}
.footer__headline {
  text-decoration: underline;
}
.footer__social-container {
  display: flex;
  align-items: center;
  gap: 2rem;
}
@media (max-width: 1100px) {
  .footer {
    width: 90%;
  }
}
@media (max-width: 880px) {
  .footer {
    margin-top: 0;
    width: fit-content;
    flex-direction: column-reverse;
    align-items: center;
    gap: 2.5rem;
  }
  .footer__social-container {
    flex-wrap: wrap-reverse;
    justify-content: center;
  }
  .dump-logo {
    position: relative;
    order: 1;
    width: 25%;
    left: 0.5rem;
  }
}
