.testimonial {
  margin-top: 25rem;
  height: 35rem;
  background: url(../../../assets/images/testimonial-background-horizontal.png)
    no-repeat;
  flex-shrink: 0;
}

.testimonial__container {
  height: inherit;
  width: fit-content;
  margin: 0 auto;
  display: flex;
  gap: 1.5rem;
}

.testimonial__content-container {
  margin: 8.5rem 3rem 0 0;
  display: flex;
  flex-direction: column;
  max-width: 31rem;
}
.testimonial__image {
  max-height: 31rem;
  width: auto;
  align-self: flex-end;
}
.testimonial__desc {
  margin: 1.5rem 0 2rem;
}
@media (max-width: 970px) {
  .testimonial {
    height: fit-content;
    background: url(../../../assets/images/Testimonial-background-vertical.png)
      no-repeat;
    background-size: cover; /* This property sets the background image to cover the entire container */
    background-position: center; /* This property centers the background image */
    background-repeat: no-repeat;
  }
  .testimonial__content-container {
    width: 90%;
    margin: 4.25rem auto 0;
  }
  .testimonial__container {
    align-content: center;
    flex-direction: column-reverse;
  }
  .testimonial__image {
    width: 100%;
  }
}
