.fesb-location__container {
  height: 90vh;
  width: 100%;
  margin-top: 19.8rem;
  background: url("../../../assets/svg/icons/map-pin-filled.svg") no-repeat,
    url("../../../assets/images/fesb-location.png") no-repeat;
  background-size: 7vw, contain;
  background-position: 73% 64%, 0% 0%;
  display: flex;
  align-items: center;
}

.fesb-location__content--wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  max-width: 25.125rem;
  margin-left: 12.6rem;

  & h2.heading-2 {
    margin-bottom: 1.5rem;
  }
}

@media screen and (max-width: 1440px) {
  .fesb-location__container {
    height: 65vw;
    background-position: 76% 62%, 0% 0%;
  }
}

@media screen and (max-width: 812px) {
  .fesb-location__container {
    height: 150vw;
    background-position: 75% 25%, 0% 0%;
  }
}
