.fly-talks{
    position: relative;
    margin-top: 32rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 6.5rem;
    overflow: hidden;
}
.fly-talks__content-container{
    position: relative;
    display: inline-flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 3.5rem;
    z-index: 5;
}
.fly-talks__text{
    max-width: 25rem;
}
.fly-talks__images-container{
    position: relative;
    width: 42rem;
    height: 50rem;
    z-index: 4;
}
.fly-talks__image-mobile{
    display: none;
}
.fly-talks__image-desktop:nth-of-type(1){
    z-index: 2;
    position: absolute;
    top: -9em;
    right: 0;
}
.fly-talks__image-desktop:nth-of-type(2){
    z-index: 1;
    position: absolute;
    bottom: 8em;
    right: 23em;
}
.fly-talks__image-desktop:nth-of-type(3){
    z-index: 3;
    position: absolute;
    bottom: -5rem;
    right: -6rem;
}
@media (max-width: 1250px){
    .fly-talks{
        padding-right: 0.5rem;
    }
}
@media (max-width: 1070px){
    .fly-talks{
        padding: 0;
        flex-direction: column;
    }
    .fly-talks__images-container{
        margin-top: 1.7em;
        position: relative;
        width: 30rem;
        height: 40rem;
    }
    .fly-talks__image-desktop{
        display: none;
    }
    .fly-talks__image-mobile{
        display: block;
    }
    .fly-talks__image-mobile:nth-of-type(4){
        position: absolute;
        bottom: -2rem;
        left: 3.5rem;
    }
    .fly-talks__image-mobile:nth-of-type(5){
        position: absolute;
        top: 0;
        left: 3rem;
    }
    .fly-talks__image-mobile:nth-of-type(6){
        position: absolute;
        top: -6rem;
        right: 4rem;
    }
}
@media (max-width: 830px){
    .fly-talks{
        margin-top: 13rem;
    }
    .fly-talks__content-container{
        gap: 1.4em;
        padding: 0 1.5rem;
    }
    .fly-talks__content-container h2{
        font-size: 3.375rem;
        line-height: 4.25rem;
        letter-spacing: -0.03375rem;
    }
}