.follow-online__container {
  margin-top: 16.25rem;
}

.follow-online__content--wrapper {
  background-image: url("../../../assets/images/Rectangle_laptop.png");
  background-repeat: no-repeat;
  background-size: 107rem;
  background-position: -35% 0%;
  height: 83.4rem;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-direction: column;
  margin-top: 10rem;
  margin-left: 6.5rem;
}

#follow-button-span::after {
  content: "Livestream";
}

@media screen and (max-width: 812px) {
  #follow-button-span::after {
    content: "Youtube";
  }
}

.follow-online__subtitle {
  text-align: center;
}

.follow-online__content-container {
  max-width: 31.5rem;
  display: flex;
  flex-direction: column;
  gap: 2rem;
  margin-left: 0.8rem;
  margin-right: 0.8rem;
}

.follow-online__content-container h2 {
  margin-bottom: 0.5rem;
}

.follow-online__content-container p.body-text {
  max-width: 25rem;
}

@media screen and (max-width: 1440px) {
  .follow-online__content-wrapper {
    background-size: 123vw;
    background-position: -50% 0%;
    height: 100vw;
  }
}

@media screen and (max-width: 1024px) {
  .follow-online__content-wrapper {
    justify-content: flex-start;
  }
}

@media screen and (max-width: 812px) {
  .follow-online__container {
    margin-top: 4rem;
  }
  .follow-online__content-wrapper {
    height: 130vw;
    background-position: -35% 120%;
  }

  .follow-online__content-container h2 {
    line-height: clamp(68px, 10vw, 7.5rem); /* 125.926% */
    letter-spacing: -0.54px;
    font-size: clamp(54px, 10vw, 122px);
    margin-bottom: 0rem;
  }

  .follow-online__content-wrapper {
    margin-left: 0rem;
  }
}

@media screen and (max-width: 512px) {
  .follow-online__content-wrapper {
    height: 200vw;
    background-size: 160vw;
    background-position: 15% 120%;
    margin-top: 6.5rem;
  }
}

@media screen and (max-width: 398px) {
  .follow-online__content-wrapper {
    height: 240vw;
    background-size: 200vw;
  }
}
