.speakers__container{
    display: flex;
    gap: 10rem;
    margin-top: 22.5rem;
    position: relative;
    height: 50rem;
    overflow: scroll;
}
.speakers__container::-webkit-scrollbar {
    display: none;
  }
.speakers__headline-container{
    width: 30.125rem;
    display: flex;
    flex-direction: column;
    gap: 2rem;
    position: sticky;
    top: 6rem;
    left: 6.5rem;
}
.speakers__about-container{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    column-gap: 1.5rem;
    row-gap: 2rem;
}
.speakers__about-container div:nth-child(3n-1) {
    position: relative;
    top: 7rem;
}
.speaker__image{
    background: linear-gradient(123deg, rgba(13, 142, 211, 0.68) -3.37%, rgba(10, 58, 167, 0.68) 17.75%, rgba(197, 55, 84, 0.68) 53.11%, rgba(250, 82, 64, 0.68) 70.34%, rgba(252, 221, 163, 0.68) 103.4%);
    background-blend-mode: hue;
    margin-bottom: .75rem;
}
.speaker__occupation{
    color: var(--Dark-gray, #54545F);
    font-size: 1rem;
    font-style: normal;
    font-weight: 400;
    line-height: 1rem; /* 100% */
    letter-spacing: -0.0625rem;
    margin: .4rem 0 .6rem;
}
@media (max-width: 1200px){
    .speakers__about-container{
        grid-template-columns: repeat(2, 1fr);
    }
    .speakers__about-container div:nth-child(3n-1) {
        top: 0;
    }
    .speakers__about-container div:nth-child(2n){
        position: relative;
        top: 5rem
    }
}
@media (max-width: 950px){
    .speakers__container{
        flex-direction: column;
        height: max-content;
        overflow: hidden;
        width: 90%;
        margin: 4.5rem auto;
    }
    .speakers__headline-container{
        position: relative;
        width: 90%;
        top: 0;
        left: 0;
    }
    .speakers__headline-container h3{
        font-size: 3.375rem;
        line-height: 4.25rem; /* 125.926% */
        letter-spacing: -0.03375rem;
    }
    .speakers__about-container{
        margin: 0 auto;
        grid-template-columns: repeat(2, max-content);
    }
    .speaker__image{
        width: 9.75rem;
        height: 14.25rem;
    }
    .speaker__desc-container{
        width: fit-content;
    }
}