.speakers__container{
    display: flex;
    gap: 9.9rem;
    margin-top: 22.5rem;
    position: relative;
    height: 50rem;
    overflow: scroll;
}
.speakers__container::-webkit-scrollbar {
    display: none;
  }
.speakers__headline-container{
    width: 30.125rem;
    display: flex;
    flex-direction: column;
    gap: 2rem;
    position: sticky;
    top: 6rem;
    left: 6.5rem;
}
.speakers__about-container{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    column-gap: 1.5rem;
    row-gap: 2rem;
}
.speakers__about-container div:nth-child(3n-1) {
    position: relative;
    top: 7rem;
}
.speaker__image{
    background: linear-gradient(123deg, rgba(13, 142, 211, 0.68) -3.37%, rgba(10, 58, 167, 0.68) 17.75%, rgba(197, 55, 84, 0.68) 53.11%, rgba(250, 82, 64, 0.68) 70.34%, rgba(252, 221, 163, 0.68) 103.4%);
    background-blend-mode: hue;
    margin-bottom: .75rem;
}
.speaker__occupation{
    color: var(--Dark-gray, #54545F);
    font-size: 1rem;
    font-style: normal;
    font-weight: 400;
    line-height: 1rem; /* 100% */
    letter-spacing: -0.0625rem;
    margin: .4rem 0 .6rem;
}