.sponsors__container {
  margin: 32rem 1.5rem 0 1.5rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.sponsors__container > h2 {
  margin-top: 32rem;
}

.sponsors__caption {
  max-width: 49.9375rem;
  text-align: center;
}

.sponsors__gradient-text {
  margin-top: 0.5rem;
  background: var(--gradients-02);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.sponsors__golden-logos {
  display: flex;
  column-gap: 13vw;
  margin-top: 16rem;
}

.sponsors__golden-item {
  width: 12.6rem;
  height: 2.5rem;
}

.sponsors__golden-logo {
  width: 100%;
  height: 100%;
}

.sponsors__golden-about--container {
  max-width: 90rem;
  display: flex;
  flex-direction: column;
  row-gap: 5.6rem;
  margin-top: 10.4rem;
}

.sponsors__golden-about {
  display: flex;
  gap: 2.5rem;
  align-items: center;
}

.sponsors__golden-about--reversed-order {
  flex-direction: row-reverse;
}

.sponsors__golden-about--text {
  max-width: 30rem;
}

.sponsors__golden-about-img--wrapper {
  position: relative;
}

.sponsors__golden-about-img--overlay {
  position: absolute;
  inset: 0;
  z-index: 1;
  background: var(--gradients-photo-overlay);
  opacity: 0.68;
  background-blend-mode: hue;
  mix-blend-mode: multiply;
}

@media screen and (max-width: 900px) {
  .sponsors__container {
    margin-top: 15.6rem;
  }

  .sponsors__container > h2 {
    margin-top: 15.6rem;
  }

  h4.sponsors__gradient-text {
    font-size: clamp(1.6rem, 6vw, 3.375rem);
    letter-spacing: 0.06rem;
  }
  .sponsors__golden-about-img {
    width: 400px;
  }
  .sponsors__golden-logos {
    flex-direction: column;
    row-gap: 3.5rem;
    margin-top: 8.25rem;
  }

  .sponsors__container > h2 {
    font-size: clamp(3.375rem, 11vw, 7.625rem);
    line-height: 4.25rem; /* 125.926% */
    letter-spacing: -0.034rem;
    text-align: center;
  }
}

.sponsors__other-logos--container {
  margin-top: 8rem;
  display: flex;
  flex-wrap: wrap;
  column-gap: 10rem;
  row-gap: 7rem;
  justify-content: center;
}

h4.sponsors__other-h4 {
  margin-top: 19.25rem;
  text-align: center;
}

@media screen and (max-width: 812px) {
  .sponsors__golden-about-img {
    width: 100%;
    height: 100%;
  }
  h4.sponsors__gradient-text {
    line-height: clamp(2.25rem, 7vw, 7.5rem);
  }

  .sponsors__golden-about--container {
    row-gap: 6rem;
  }
  .sponsors__golden-about {
    flex-direction: column;
    align-items: flex-start;
  }
  .sponsors__other-logos--container {
    margin-top: 4rem;
  }
  h4.sponsors__other-h4 {
    margin-top: 11.5rem;
    font-size: 2.25rem;
    line-height: 2.5rem;
  }
}
