.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  padding-top: 2rem;
}

.header__logo {
  margin-left: 6.5rem;
}

.header__nav {
  margin-right: 6.5rem;
}

.header__logo--mobile,
.header__nav--moblie {
  display: none;
}

.header__nav-list {
  display: flex;
  align-items: center;
  list-style: none;
  gap: 3rem;
  margin: 0;
}

.header__nav-item:hover a {
  background: var(--gradients-02);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

@media screen and (max-width: 1024px) {
  .header__nav,
  .header__nav--moblie {
    margin-right: 1.5rem;
  }
  .header__logo,
  .header__logo--mobile {
    margin-left: 1.5rem;
  }
  .header__nav-list {
    gap: 2.5rem;
  }
}

@media screen and (max-width: 812px) {
  .header__nav {
    display: none;
  }

  .header__nav--moblie,
  .header__logo--mobile {
    display: block;
  }

  .header__logo,
  .header__nav {
    display: none;
  }

  .header {
    padding-top: 1.5rem;
    padding-bottom: 1.5rem;
  }
}
