/* header sections files */
@import "./sections/header/header.css";
@import "./sections/header/hero.css";
@import "./sections/header/stats.css";

/* main sections files */
@import "./sections/main/app.css";
@import "./sections/main/fesb-location.css";
@import "./sections/main/fly-talks.css";
@import "./sections/main/jobs.css";
@import "./sections/main/prati-nas-online.css";
@import "./sections/main/schedule.css";
@import "./sections/main/speakers.css";
@import "./sections/main/sponsors.css";

/* footer sections files */
@import "./sections/footer/footer.css";
@import "./sections/footer/contact-us.css";
@import "./sections/footer/dump-kroz-godine.css";
@import "./sections/footer/FAQ.css";
@import "./sections/footer/testimonials.css";

/* ako neki importovi nerade provjeri jeli ispravan path!!! */

@font-face {
  font-family: "Fuse V.2 Display";
  src: url("../fonts/FuseV2Display-Regular.woff2") format("woff2");
}

body {
  font-family: "Fuse V.2 Display", sans-serif;
  background-color: #000;
  color: #fff;
}

.sections-container {
  max-width: 1440px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
}
